.MatchPage{
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-column-gap : 20px;

    .year-selector-section{
        justify-self: end;
        padding: 20px;
    }

    .match-header-section{
        margin: 20px auto;
    }
}

